<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="header">
		<a th:href="@{/}">Strona główna</a> 
	</div>

	<div>Ciało strony</div>

	<div th:fragment="footer"><br/>ZUT Spring Labs 2019</div>
</body>

</html>