<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>contacts7</title>
</head>
<body>
<div id="header" th:include="page :: header"></div>
<div id="content">
    <h1>Witamy w serwisie contacts4!</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${contacts.empty}">
            <td colspan="7">Brak kontaktów</td>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.phone}"></td>
            <td><a th:href="@{/contact/update/__${contact.id}__}">Update</a></td>
            <td><a th:href="@{/contact/delete/__${contact.id}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/contact/create}">Dodaj kontakt</a>

</div>
<div id="footer" th:include="page :: footer"></div>
</body>
</html>
